/* CSS Document */
body {
	margin:auto;
}

.container {
	margin:auto;
	width:1200px;
}

.head_01 {
	background-image:url(images/abstract-background-71.jpg);
	height:100px;	
}

.head_01_img {
	float:left;	
	padding-left:600px;
}

.head_01_button {
	padding-left:890px;	
}

.head_01_search {
	padding-top:30px;	
	padding-left:630px;
}

.head_01_search_text {
	float:left;
}	

.main_01{
	height:30px;
}

.main_info {
	float:left;
	background-image:url(images/Black-with-Pattern-I.jpg);
	text-align:center;
	font-size:18px;
	width:133.333px;
	height:30px;
}

.main_info a{
	text-decoration:none;
	color:#F00;	
}

.main_info a:hover{
	text-decoration:underline;
	color:#F60;	
}

.main_02_img {
	float:left;	
}



.main_02_banner {
	color:#FFF;
	background-color:#C00;	
	height:50px;
	width:340px;
	text-align:center;
	font-size:24px;
	padding-top:15px;
}

.main_02_button{
	background-image:url(images/9ipzKog7T.png);
	width: 85px;
	height: 45px;
	color:#FFF;
	font-size:16px;
	text-align:center;
	padding-top:15px;
	float:left;
}

.main_02_button a{
	text-decoration:none;
	color:#FFF;	
}

.main_02_button a:hover{
	text-decoration:underline;
	color:#F90;	
}

.main_02_news a{
	text-decoration:none;
	color:#F00;
}

.main_02_news a:hover{
	text-decoration:underline;
	color:#09F;
}


.main_02_new a{
	text-decoration:none;
	color:#000;
}

.main_02_new a:hover{
	text-decoration:underline;
	color:#F90;
}



